/* 
BNR base - #f8f8f8; 
BNR accent - #ed6b45;
BNR lettering - #505153;
*/

.Blog-main {
  background-color: #f8f8f8;
}

.Blog-left {
  background-color: blue;
}

.Blog-right {
  background-color: red;
}
